//_nav.scss

//Primary nav on the page
.nav {

	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	//height: ($baseline * 8);
	border-bottom: 1px solid $iron;
	background-color: $background;
	z-index: 100;
	
	&__list {
		margin: 0;
		padding-left: 0;
	}

	&__item {
		//margin-top: ($baseline * 2);
		padding-top: ($baseline * 2) + 6px;
		padding-bottom: 0;
		padding-left: 0;
		text-align: center;
		display: block;

		&:hover {
			cursor: pointer;
			background-color: $iron-light;
		}

		&--logo {
			padding: 0;
		}
	}

	&__link {
		padding-bottom: ($baseline * 2);
		display: block;
		color: $thunder;

		&:hover {
			text-decoration: none;
		}

		&--active {
			height: ($baseline * 5);
			border-bottom: 2px solid $logo;

			//animations
			//-webkit-transition : border 500ms ease-in;
			//-moz-transition : border 500ms ease-in;
			//-o-transition : border 500ms ease-in;
			//transition : border 500ms ease-in;
		}
	}

	&__logo {
		padding: ($baseline + 4px) 0 0 0;
		margin: 0;
		font-family: $luckiest-font-family;
		font-size: 32px;
		text-align: left;

		a {
			height: ($baseline * 6);
			padding-bottom: 0;
			//border-bottom: 2px solid $logo;
			color: $logo;

		}
	}

	&__subtitle {
		margin: 0;
		display: block;
	}

}