//_pictures.scss

.profiles {

	&__title {
		margin: 0;
	}
	
	&__list {
		list-style: none;
		padding: ($baseline *2) $col $baseline $col;
		//background-color: $secondary;
		margin: 0 $col 0 0;
	}

	&__item {
		display: inline-block;
	}

	&__image {
		height: 50%;
		width: 50%;
		cursor: pointer;
	}

}